In [1]:
#IMPORTING NECESSARY LIBRARIES

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
 
customeraddress_data= pd.read_excel("C:\\Users\\ASUS\\Desktop\\PROJECTS_DS\\KPMG-Virtual-Internship\\Datasets\\Customer_address.xlsx")

customeraddress_data.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [3]:
# TAKING A SUPERFICIAL OVERVIEW OF THE DATA (such as Datatypes, non-null values,etc. )
customeraddress_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [4]:
# OBTAINING A SUMMARY STATISTICS ABOUT THE DATA
customeraddress_data.describe()

       customer_id     postcode  property_valuation
count  3999.000000  3999.000000         3999.000000
mean   2003.987997  2985.755939            7.514379
std    1154.576912   844.878364            2.824663
min       1.000000  2000.000000            1.000000
25%    1004.500000  2200.000000            6.000000
50%    2004.000000  2768.000000            8.000000
75%    3003.500000  3750.000000           10.000000
max    4003.000000  4883.000000           12.000000

In [5]:
# TOTAL SIZE OF DATA
customeraddress_data.shape

(3999, 6)

In [6]:
# CHECKING WHETHER THERE ARE ANY NULL VALUES IN THE DATA
customeraddress_data.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [7]:
# CHECKING WHETHER THERE ARE ANY DUPLICATE VALUES 
# CHECKING FOR UNIQUENESS IN DATA

customeraddress_data.duplicated().sum()

0

In [8]:
# GETTING INSIGHTS FOR UNIQUE VALUES IN THE DATA
customeraddress_data.nunique()

customer_id           3999
address               3996
postcode               873
state                    5
country                  1
property_valuation      12
dtype: int64

In [9]:
customeraddress_data['address'].value_counts()

address
3 Mariners Cove Terrace      2
3 Talisman Place             2
64 Macpherson Junction       2
359 Briar Crest Road         1
4543 Service Terrace         1
                            ..
5063 Shopko Pass             1
09 Hagan Pass                1
87897 Lighthouse Bay Pass    1
294 Lawn Junction            1
320 Acker Drive              1
Name: count, Length: 3996, dtype: int64

In [10]:
customeraddress_data['postcode'].value_counts()

postcode
2170    31
2155    30
2145    30
2153    29
3977    26
        ..
3808     1
3114     1
4721     1
4799     1
3089     1
Name: count, Length: 873, dtype: int64

In [11]:
customeraddress_data['state'].value_counts()

state
NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: count, dtype: int64

In [12]:
# CONVERTING TO BOOLEAN TYPE VALUES
mapping = {'NSW': 'New South Wales', 'VIC': 'Victoria'}
customeraddress_data['state'].replace({'NSW': 'New South Wales', 'VIC': 'Victoria'},inplace = True)

In [13]:
customeraddress_data['country'].value_counts()

country
Australia    3999
Name: count, dtype: int64

In [14]:
customeraddress_data['property_valuation'].value_counts()

property_valuation
9     647
8     646
10    577
7     493
11    281
6     238
5     225
4     214
12    195
3     186
1     154
2     143
Name: count, dtype: int64

In [15]:
customeraddress_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [16]:
customeraddress_data.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,Victoria,Australia,9

In [22]:
#The data was already cleaned...
# SAVING THIS CLEANED DATAFRAME TO A CSV FORMAT
customeraddress_data.to_csv("C:\\Users\\ASUS\\Desktop\\PROJECTS_DS\\KPMG-Virtual-Internship\\cleaned_datasets\\cust_address.csv",index=False)